<?xml version="1.0" encoding="UTF-8"?>
<configuration>


  <!-- prod가 아닌 나머지 환경에서는 STDOUT 출력 -->
  <springProfile name="!prod">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
    </appender>

    <root level="INFO">
      <appender-ref ref="STDOUT" />
    </root>
  </springProfile>


  <!-- prod 프로파일일 때만 아래 설정 적용 -->
  <springProfile name="prod">
    <springProperty scope="context" name="application" source="spring.application.name"/>
    <springProperty scope="context" name="lokiUrl" source="loki.url" />

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
      <http>
        <url>${lokiUrl}</url>
        <connectTimeoutMs>2000</connectTimeoutMs>
        <readTimeoutMs>3000</readTimeoutMs>
        <retryMaxAttempts>3</retryMaxAttempts>
        <connectionTtlMs>10000</connectionTtlMs>         <!-- 💡 연결 수명 제한 -->
        <idleConnTimeoutSec>10</idleConnTimeoutSec>       <!-- 💡 유휴 연결 정리 시간 -->
        <maxConnections>10</maxConnections>               <!-- 💡 최대 커넥션 수 제한 -->
      </http>
      <format>
        <label>
          <pattern>app=${application},host=${host.ip},level=%level</pattern>
          <readMarkers>true</readMarkers>
        </label>
        <message>
          <pattern>
            {
            "level":"%level",
            "class":"%logger{36}",
            "thread":"%thread",
            "requestId": "%X{X-Request-ID}"
            "message": "%message",
            }
          </pattern>
        </message>
      </format>
    </appender>

    <root level="INFO">
      <appender-ref ref="LOKI" />
    </root>
  </springProfile>
</configuration>